/* Colors
--------------------------------------------- */

/* Primary */
$color-brand-primary-darkest: #00e785;  
$color-brand-primary-dark:    #cafde7;  
$color-brand-primary-medium:  #50c4fe;  
$color-brand-primary-light:   #ffe96e;  
$color-brand-primary-lightest: #fdecff;

$color-brand-secondary-darkest: #fdcaca; 



/* Neutral background */
$color-neutral-lightest: #f4fafd;
$color-neutral-grey-bg: #F9F9F9;
$color-neutral-light: #ECEFEB;
$color-neutral-medium: #E1E4DE;
$color-neutral-dark: #AEAEAE;

/* Content */
$color-content-black-pure: #000;
$color-content-dark-grey: #646464;