.h1normal {
    font-size: $hero-title-size;
    margin: 0 0 30px 0;
    line-height: $hero-title-lineheight;
    font-weight: 600;
    font-family: 'Obviously',sans-serif;
}
.hero-description {font-size:$hero-description-size ;}


//colors
.bg-brandPrimaryDarkest {background-color: $color-brand-primary-darkest;}
.bg-brandPrimaryDark {background-color: $color-brand-primary-dark;}
.bg-brandPrimaryMedium {background-color: $color-brand-primary-medium;}
.bg-brandPrimaryLight {background-color: $color-brand-primary-light}
.bg-brandPrimaryLightest {background-color: $color-brand-primary-lightest;}
.bg-brandSecondaryDarkest {background-color: $color-brand-secondary-darkest;}
.text-brandPrimaryMedium {color: $color-brand-primary-medium;}
.text-brandPrimaryLight{color: $color-brand-primary-light}

// .dark .text-brandPrimaryMedium {
//   color: $color-brand-primary-medium; // por ejemplo
// }


@include desktop-xl {

}

@include desktop {

}

@include mobile {
    .h1normal {
        font-size: $hero-title-size_mobile_xs;
        margin: 0 0 30px 0;
        line-height: $hero-title-lineheight_mobile_xs;

    }

    .hero-description {font-size:$hero-description-size_mobile;}
}


@include tablet-landscape {

}

