$hero-title-size: 50px;
$hero-title-lineheight: 50px;

$hero-title-size_mobile: 40px;
$hero-title-lineheight_mobile: 45px;

$hero-title-size_mobile_xs: 33px;
$hero-title-lineheight_mobile_xs: 36px;

//headings
$hero-description-size: 20px;
$hero-description-size_mobile: 20px;