article>*:not(.entry-content),
.entry-content>* {
    @apply mx-auto max-w-content;
}


h1 {
    @apply text-4xl font-bold;
}

h2 {
    @apply text-xl;
}

h3 {
    @apply text-lg;
}

p,
ul,
ol {
    a {
        @apply text-blue-500 underline;

        &:hover {
            @apply no-underline;
        }
    }

    @apply mb-8;
}

ul:not(.block-editor-block-variation-picker__variations) {
    li {
        @apply list-disc list-inside;
    }
}

ol {
    li {
        @apply list-decimal list-inside;
    }
}

/* .entry-content, .block-editor-block-list__layout  */


/*icons*/


/*custom fonts*/
/* app.css */
@font-face {
    font-family: 'gabii-Bold';
    src: url('/resources/fonts/gabii-Bold.woff2') format('woff2'),
        url('/resources/fonts/gabii-Bold.woff') format('woff');
    font-weight: bold;
    font-style: bold;
    font-display: swap;
    /* Importante para la carga eficiente */
}

@font-face {
    font-family: 'gabii';
    src: url('/resources/fonts/gabii-Regular.woff2') format('woff2'),
        url('/resources/fonts/gabii-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    /* Importante para la carga eficiente */
}

@font-face {
    font-family: 'Nioicon';
    src:
        url('/resources/fonts/Nioicon.ttf') format('truetype'),
        url('/resources/fonts/Nioicon.woff') format('woff'),
        url('/resources/fonts/Nioicon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.ni {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'Nioicon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Ahora puedes usar la fuente en tus estilos */
body {
    font-family: 'gabii', sans-serif;
}

/* T E M P L A T E S*/
.texto-imagen {
    padding: 40px 0;
}

.tabs-content {
    padding: 40px 0;
}

.content-destacado {
    padding: 40px 0;
}

.simpletext-content {
    padding: 40px 0;
}

.skillscontent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.icon-box {
    background: #353535;
    /* width: 60px;
    min-width: 60px;
    height: 60px; */
    border-radius: 50%;
    margin-right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    margin-left: 15px;
}

.empresa {
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    background-color: #3d4c61;
    color: #fff;
    border-radius: 8px;
    padding: 6px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    width: fit-content;
}

footer {
    position: relative;
}

footer img {
    position: absolute;
    bottom: 100px;
    left: 10%;
    transform: translateX(-50%);
    opacity: 0.5;
    z-index: -1;
    width: 20%;
    height: auto;
}

/* Add your custom styles here */
.cajaconfondo {
    background-color: aqua;
}

.font-custom-bold {
    font-family: 'gabii-Bold', sans-serif;
    color: green;
    font-size: 16px;
}

.font-custom {
    font-family: 'gabii', sans-serif;
    color: red;
    font-size: 24px;
}

.ni-covid:before {
    content: "\ece7";
}

.texto-justificado {
    text-align: justify;
}

.espaciado_abajo {
    margin-bottom: 50px;
}

.verde {
    color: #18b69b
}

.translate-x-6 {
    transform: translateX(20px);
    /* Mueve el botón hacia la derecha */
}

#dos {
    border-radius: 50px 50px 50px 0;
}

#seis {
    border-radius: 50px 0 0;
}

#quatro {
    border-radius: 0 0 50px 50px;
}


#dosinverse {
    border-radius: 50px 50px 0 50px;
}

#quatroinverse {
    border-radius: 0 0 50px 50px;
}

#seisinverse {
    border-radius: 0 50px 0 0;
}

#quatroinverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

#cincoinverse {
    border-radius: 0 0 50px 50px;
}

.boxmobile {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.boxmobile.show {
    opacity: 1;
    transform: translateY(0);
}
  

.boxmobilecircle {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.boxmobilecircle.visible {
    opacity: 1;
    transform: translateX(0);
}

/*area map */
.area-master {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    position: relative;
      top: 639px;
      left: -2px;
      color: black;
  }
  .area-skills {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    position: relative;
    top: 475px;
    left: -2px;
      color: black;
  }
  .area-logros {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    position: relative;
    top: 324px;
    left: 222px;
      color:#fff;
  }
  .gitcontent svg {
    max-width: 350px;
    display: block;
    margin: 0 auto;width: 100%;
}
/*circulos movimieto area map */

.headline {
    border-radius: 50px;
    transition: all 0.3s ease-out; 
    border-radius: 30px;
    transition: all 0.3s ease-out;
    font-size: 14px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    margin-left: 24px;
    animation: ripple-dark 1s linear infinite;
    -webkit-transition: .5s ease-out; 
  }




  @-webkit-keyframes ripple-dark {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(255, 100, 50, 0.1), 0 0 0 10px rgba(255, 100, 50, 0.1), 0 0 0 20px rgba(255, 100, 50, 0.1);
      box-shadow: 0 0 0 0 rgba(255, 100, 50, 0.1), 0 0 0 10px rgba(255, 100, 50, 1), 0 0 0 20px rgba(255, 100, 50, 0.1);
    }
    100% {
      -webkit-box-shadow: 0 0 0 10px rgba(255, 100, 50, 0.1), 0 0 0 20px rgba(255, 100, 50, 0.1), 0 0 0 30px rgba(255, 100, 50, 0);
      box-shadow: 0 0 0 10px rgba(255, 100, 50, 0.1), 0 0 0 20px rgba(255, 100, 50, 1), 0 0 0 30px rgba(255, 100, 50, 0);
    }
  }
  
  @keyframes ripple-dark {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(255, 100, 50, 0.1), 0 0 0 10px rgba(255, 100, 50, 0.1), 0 0 0 20px rgba(255, 100, 50, 0.1);
      box-shadow: 0 0 0 0 rgba(255, 100, 50, 0.1), 0 0 0 10px rgba(255, 100, 50, 1), 0 0 0 20px rgba(255, 100, 50, 1);
    }
    100% {
      -webkit-box-shadow: 0 0 0 10px rgba(255, 100, 50, 0.1), 0 0 0 20px rgba(255, 100, 50, 0.1), 0 0 0 30px rgba(255, 100, 50, 0);
      box-shadow: 0 0 0 10px rgba(255, 100, 50, 0.1), 0 0 0 20px rgba(255, 100, 50, 0.5), 0 0 0 30px rgba(255, 100, 50, 0);
    }
  }


  
  .headlineyear {
    border-radius: 50px;
    transition: all 0.3s ease-out; /* Corrige la propiedad de transición */
    height: 50px;
    width: 50px;
    animation: ripple-lightyear 1s linear infinite; /* Usa la animación correcta */
    -webkit-transition: .5s ease-out; /* Corrige la propiedad de transición */
}

/* Define la animación ripple-lightyear */
@-webkit-keyframes ripple-lightyear {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(211, 211, 211, 0.2), 0 0 0 10px rgba(211, 211, 211, 0.1), 0 0 0 20px rgba(211, 211, 211, 0.1);
      box-shadow: 0 0 0 0 rgba(211, 211, 211, 0.2), 0 0 0 10px rgba(211, 211, 211, 0.1), 0 0 0 20px rgba(211, 211, 211, 0.1);
    }
    100% {
      -webkit-box-shadow: 0 0 0 10px rgba(211, 211, 211, 0.2), 0 0 0 20px rgba(211, 211, 211, 0.3), 0 0 0 30px rgba(211, 211, 211, 0);
      box-shadow: 0 0 0 10px rgba(211, 211, 211, 0.2), 0 0 0 20px rgba(211, 211, 211, 0.3), 0 0 0 30px rgba(211, 211, 211, 0);
    }
}

/* Define la animación ripple-lightyear para navegadores sin soporte webkit */
@keyframes ripple-lightyear {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(211, 211, 211, 0.2), 0 0 0 10px rgba(211, 211, 211, 0.1), 0 0 0 20px rgba(211, 211, 211, 0.1);
      box-shadow: 0 0 0 0 rgba(211, 211, 211, 0.2), 0 0 0 10px rgba(211, 211, 211, 0.1), 0 0 0 20px rgba(211, 211, 211, 0.1);
    }
    100% {
      -webkit-box-shadow: 0 0 0 10px rgba(211, 211, 211, 0.2), 0 0 0 20px rgba(211, 211, 211, 0.3), 0 0 0 30px rgba(211, 211, 211, 0);
      box-shadow: 0 0 0 10px rgba(211, 211, 211, 0.2), 0 0 0 20px rgba(211, 211, 211, 0.3), 0 0 0 30px rgba(211, 211, 211, 0);
    }
}

  
  
/* end area map*/

































.hiddenmenu {
    display: none;
}
.headermenu  {
transition: transform 0.3s ease-in-out;}


.headermenu.hidden {
    transform: translateY(-170%);
}





/* M E D I A  Q U E R Y S */
@media only screen and (min-width: 2500px) {
    .especialdesktop {
        display: flex;
        flex-direction: row;
    }
    .headermenu  {
        transition: all 0.3s ease; /* Transición suave */
        border-radius: 50px;
        padding: 20px 50px;
        margin-top: 20px;
        width: 70%;
        margin: 0 auto;
        flex-direction: row;
        justify-content: space-between;

        
        
    }
    .headermenu.scrolled {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%; /* Ocupa el 100% del ancho de la pantalla */
        /* background-color: aliceblue; */
        background: linear-gradient(to top, aliceblue 0%, rgba(255, 255, 255, 0.8) 100%);
        color: black;
        z-index: 1000;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra opcional para resaltar el menú */
        padding: 20px 50px; /* Puedes reducir el padding cuando se hace fixed */
        width: 40%;
        margin: 50px auto;
        flex-direction: row;
        justify-content: space-between;
    }


    
    
}


@media (min-width: 1024px) and (max-width: 1950px) {
    .headermenu  {
        transition: all 0.3s ease; /* Transición suave */
        border-radius: 50px;
        padding: 20px 50px;
        margin-top: 20px;
        width: 70%;
        margin: 0 auto;
        flex-direction: row;
        justify-content: space-between;
        
    }
    .headermenu.scrolled {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%; /* Ocupa el 100% del ancho de la pantalla */
        /* background-color: aliceblue; */
        background: linear-gradient(to top, aliceblue 0%, rgba(255, 255, 255, 0.8) 100%);
        color: black;
        z-index: 1000;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra opcional para resaltar el menú */
        padding: 20px 50px; /* Puedes reducir el padding cuando se hace fixed */
        width: 50%;
        margin: 50px auto;
        flex-direction: row;
        justify-content: space-between;
    }
}


/* M E D I A  Q U E R Y S  M O B I L E S */
@media only screen and (max-width: 768px) {
    .especialmobileimagen {
        display: flex;
        flex-direction: column !important;
    }

    #dos {
        border-radius: 50px 50px 0 0;
    }

    #cinco {
        visibility: hidden;
    }
    #dosinverse {
        border-radius: 50px 50px 0 0;
    }
    #cincoinverse, #seisinverse {
        display: none;
    }
    div#primary-menu {
        color: #0e0f11;
        background-color: #d0ff71;
    }



}