article>*:not(.entry-content),
.entry-content>* {
    @apply mx-auto max-w-content;
}


h1::after {
    content: "";
    display: block;
    height: 1px; 
    width: 50%; 
    background-color: #1321AC; 
    margin-top: 8px;
    border-radius: 9999px;
    position: relative;
    left: 0;
}
.no-after::after {
    content: none;
}

h2 {
    @apply text-xl;
}

h3 {
    @apply text-lg;
}

p,
ul,
ol {
    a {
        @apply text-blue-500 underline;

        &:hover {
            @apply no-underline;
        }
    }

    @apply mb-8;
}

ul:not(.block-editor-block-variation-picker__variations) {
    li {
        @apply list-disc list-inside;
    }
}

ol {
    li {
        @apply list-decimal list-inside;
    }
}

/* .entry-content, .block-editor-block-list__layout  */


/*icons*/
.ni {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'Nioicon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Ahora puedes usar la fuente en tus estilos */
body {
    font-family: 'gabii', sans-serif;
}

/* T E M P L A T E S*/
.texto-imagen {
    padding: 40px 0;
}

.tabs-content {
    padding: 40px 0;
}

.content-destacado {
    padding: 40px 0;
}

.simpletext-content {
    padding: 40px 0;
}

.skillscontent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.icon-box {
    background: #353535;
    /* width: 60px;
    min-width: 60px;
    height: 60px; */
    border-radius: 50%;
    margin-right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    margin-left: 15px;
}

.empresa {
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    border-radius: 8px;
    padding: 6px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    width: fit-content;
}

footer {
    position: relative;
}

footer img {
    position: absolute;
    bottom: 100px;
    left: 10%;
    transform: translateX(-50%);
    opacity: 0.5;
    z-index: -1;
    width: 20%;
    height: auto;
}

/* Add your custom styles here */
.colordefondopuntos {
    background: 
    radial-gradient(circle, #373434 1px, transparent 1px) 0 0,
    radial-gradient(circle, #373434 1px, transparent 1px) 10px 0,
    radial-gradient(circle, #373434 1px, transparent 1px) 0 10px,
    radial-gradient(circle, #373434 1px, transparent 1px) 10px 10px;
  background-size: 20px 20px;
  margin: 0;
}
.cajaconfondo {
    background-color: aqua;
}

.font-custom-bold {
    font-family: 'gabii-Bold', sans-serif;
    color: green;
    font-size: 16px;
}

.font-custom {
    font-family: 'gabii', sans-serif;
    color: red;
    font-size: 24px;
}

.ni-covid:before {
    content: "\ece7";
}

.texto-justificado {
    text-align: justify;
}
.texto-centrado {
    text-align: center;
}
.texto-derecha  {
    text-align: left;
}
.espaciado_abajo {
    margin-bottom: 50px;
}

.translate-x-6 {
    transform: translateX(20px);
}

#dos {
    border-radius: 50px 50px 50px 0;
}

#seis {
    border-radius: 50px 0 0;
}

#quatro {
    border-radius: 0 0 50px 50px;
}


#dosinverse {
    border-radius: 50px 50px 0 50px;
}

#quatroinverse {
    border-radius: 0 0 50px 50px;
}

#seisinverse {
    border-radius: 0 50px 0 0;
}

#quatroinverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

#cincoinverse {
    border-radius: 0 0 50px 50px;
}

.boxmobile {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.boxmobile.show {
    opacity: 1;
    transform: translateY(0);
}
  

.boxmobilecircle {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.boxmobilecircle.visible {
    opacity: 1;
    transform: translateX(0);
}




.boxmobileizq {
    opacity: 0; /* Inicialmente visible */
    transform: translateY(0); /* En su posición original */
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.boxmobileizq.hide {
    opacity: 0; /* Se oculta */
    transform: translateY(50px); /* Se mueve hacia abajo */
}

.boxmobilecircleizq {
    opacity: 1; /* Inicialmente visible */
    transform: translateX(-100%); /* En su posición original */
    transition: opacity 0.5s ease, transform 0.5s ease;
}


.boxmobilecircleizq.visible {
    opacity: 1;
    transform: translateX(0);
}


/*area map */
.area-master {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    position: relative;
      top: 639px;
      left: -2px;
      color: black;
  }
  .area-skills {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    position: relative;
    top: 475px;
    left: -2px;
    color: black;
  }
  .area-logros {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    position: relative;
    top: 324px;
    left: 222px;
    color:#fff;
  }
  .gitcontent svg {
    max-width: 350px;
    display: block;
    margin: 0 auto;width: 100%;
}
/*circulos movimieto area map */

.headline {
    border-radius: 50px;
    transition: all 0.3s ease-out; 
    border-radius: 30px;
    transition: all 0.3s ease-out;
    font-size: 14px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    margin-left: 24px;
    animation: ripple-dark 1s linear infinite;
    -webkit-transition: .5s ease-out; 
  }




  @-webkit-keyframes ripple-dark {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(255, 100, 50, 0.1), 0 0 0 10px rgba(255, 100, 50, 0.1), 0 0 0 20px rgba(255, 100, 50, 0.1);
      box-shadow: 0 0 0 0 rgba(255, 100, 50, 0.1), 0 0 0 10px rgba(255, 100, 50, 1), 0 0 0 20px rgba(255, 100, 50, 0.1);
    }
    100% {
      -webkit-box-shadow: 0 0 0 10px rgba(255, 100, 50, 0.1), 0 0 0 20px rgba(255, 100, 50, 0.1), 0 0 0 30px rgba(255, 100, 50, 0);
      box-shadow: 0 0 0 10px rgba(255, 100, 50, 0.1), 0 0 0 20px rgba(255, 100, 50, 1), 0 0 0 30px rgba(255, 100, 50, 0);
    }
  }
  
  @keyframes ripple-dark {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(255, 100, 50, 0.1), 0 0 0 10px rgba(255, 100, 50, 0.1), 0 0 0 20px rgba(255, 100, 50, 0.1);
      box-shadow: 0 0 0 0 rgba(255, 100, 50, 0.1), 0 0 0 10px rgba(255, 100, 50, 1), 0 0 0 20px rgba(255, 100, 50, 1);
    }
    100% {
      -webkit-box-shadow: 0 0 0 10px rgba(255, 100, 50, 0.1), 0 0 0 20px rgba(255, 100, 50, 0.1), 0 0 0 30px rgba(255, 100, 50, 0);
      box-shadow: 0 0 0 10px rgba(255, 100, 50, 0.1), 0 0 0 20px rgba(255, 100, 50, 0.5), 0 0 0 30px rgba(255, 100, 50, 0);
    }
  }


  
  .headlineyear {
    border-radius: 50px;
    transition: all 0.3s ease-out; /* Corrige la propiedad de transición */
    height: 50px;
    width: 50px;
    animation: ripple-lightyear 1s linear infinite; /* Usa la animación correcta */
    -webkit-transition: .5s ease-out; /* Corrige la propiedad de transición */
}

/* Define la animación ripple-lightyear */
@-webkit-keyframes ripple-lightyear {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(211, 211, 211, 0.2), 0 0 0 10px rgba(211, 211, 211, 0.1), 0 0 0 20px rgba(211, 211, 211, 0.1);
      box-shadow: 0 0 0 0 rgba(211, 211, 211, 0.2), 0 0 0 10px rgba(211, 211, 211, 0.1), 0 0 0 20px rgba(211, 211, 211, 0.1);
    }
    100% {
      -webkit-box-shadow: 0 0 0 10px rgba(211, 211, 211, 0.2), 0 0 0 20px rgba(211, 211, 211, 0.3), 0 0 0 30px rgba(211, 211, 211, 0);
      box-shadow: 0 0 0 10px rgba(211, 211, 211, 0.2), 0 0 0 20px rgba(211, 211, 211, 0.3), 0 0 0 30px rgba(211, 211, 211, 0);
    }
}

/* Define la animación ripple-lightyear para navegadores sin soporte webkit */
@keyframes ripple-lightyear {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(211, 211, 211, 0.2), 0 0 0 10px rgba(211, 211, 211, 0.1), 0 0 0 20px rgba(211, 211, 211, 0.1);
      box-shadow: 0 0 0 0 rgba(211, 211, 211, 0.2), 0 0 0 10px rgba(211, 211, 211, 0.1), 0 0 0 20px rgba(211, 211, 211, 0.1);
    }
    100% {
      -webkit-box-shadow: 0 0 0 10px rgba(211, 211, 211, 0.2), 0 0 0 20px rgba(211, 211, 211, 0.3), 0 0 0 30px rgba(211, 211, 211, 0);
      box-shadow: 0 0 0 10px rgba(211, 211, 211, 0.2), 0 0 0 20px rgba(211, 211, 211, 0.3), 0 0 0 30px rgba(211, 211, 211, 0);
    }
}

/* end area map*/


.hiddenmenu {
    display: none;
}
.headermenu  {
transition: transform 0.3s ease-in-out;}


.headermenu.hidden {
    transform: translateY(-170%);
}
.pujaradalt {
    position: relative;
    bottom: -9px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;

}

.logo_gabii {
    width: 20%;
    height: 20%;
}


/*TOGGLE SWITCH menu ancla*/
.switcher-container {
    position: relative;
    display: flex;
    background-color: #000;
    border-radius: 50px;
    /* border: 2px solid #b6b3b3; */
    width: 370px;
    height: 36px;
    overflow: hidden;
}
        .switcher-option {
            flex: 1;
            color: white;
            /* padding: 15px; */
            border: none;
            font-size: 16px;
            cursor: pointer;
            background: none;
            position: relative;
            z-index: 2;
            text-align: center;
        }

        .active-background {
            position: absolute;
            top: 0;
            left: 0;
            width: 33.3%;
            height: 100%;
            background: linear-gradient(to right, #1321AC, #881ABD);
            border-radius: 50px;
            transition: left 0.3s ease-in-out;
            z-index: 1;
        }
        .switcher-content {
            width: 40px;
            padding: 20px;
            border-radius: 8px;
            text-align: center;
            font-size: 18px;
            display: none;
            margin-top: 20px;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }
        .show {
            display: block;
            opacity: 1;
        }
.ni-external,
.ni-arrow-right-fill-c,
    .ni-plus-medi-fill,
.ni-flag,
.ni-call-alt-fill {font-size: 18px;}
  /*final toggle switch */



/*burbujas*/
.speech-bubbledefault {
    width: 800px;
    height: 320px;
    background: #C8FF66;
    border-radius: 40px;
    position: relative;
    padding: 50px;
    text-align: left;
    font-size: 16px;
    color: black;
    transition: transform 0.7s ease-in-out;
    position: absolute;
    clip-path: path("M0,64Q0,0 64,0L736,0Q800,0 800,64L800,256Q800,320 736,320H416Q352,320 320,288Q288,256 256,256H64Q0,256 0,192Z");
}

.speech-bubble {
    width: 800px;
    height: 320px;
    background: #C8FF66;
    border-radius: 40px;
    position: relative;
    padding: 50px;
    text-align: left;
    font-size: 16px;
    color: black;
    transition: transform 0.7s ease-in-out;
    position: absolute;
    clip-path: path("M0,64Q0,0 64,0L736,0Q800,0 800,64L800,256Q800,320 736,320H416Q352,320 320,288Q288,256 256,256H64Q0,256 0,192Z");
}


.movespeech-bubble {
    animation: flyAway 0.7s ease-in-out forwards;
}

@keyframes flyAway {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    100% {
        transform: translate(-250px, -800px) rotate(-30deg);
        opacity: 0;
    }
}

@keyframes flyAwayDefault {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    100% {
        transform: translate(250px, -800px) rotate(30deg);
        opacity: 0;
    }
}

.movespeech-bubbledefault {
    animation: flyAwayDefault 0.7s ease-in-out forwards;
}
/*final burbujas*/









/* test home */
.bg-astro-dark-900\/55 {
    background-color: #0609138c;
}
img.w-full.h-auto.herohome {
    position: relative;
    top: -700px;
    z-index: -1;
}

.blur-lg {
    --tw-blur: blur(16px);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.object-cover {
    -o-object-fit: cover;
    object-fit: cover;
}
.-translate-x-1\/2 {
    --tw-translate-x: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.max-w-\[unset\] {
    max-width: unset;
}
.w-\[2353px\] {
    width: 2353px;
}
.h-\[1969px\] {
    height: 1969px;
}
.-z-50 {
    z-index: -50;
}
.inset-x-1\/2 {
    left: 50%;
    right: 50%;
}
.-inset-y-full {
    top: -100%;
    bottom: -100%;
}
.absolute {
    position: absolute;
}
img, video {
    max-width: 100%;
    height: auto;
}
img, svg, video, canvas, audio, iframe, embed, object {
    display: block;
    vertical-align: middle;
}

/*final test home*/












/* M E D I A  Q U E R Y S */
@media only screen and (min-width: 2500px) {
    .especialdesktop {
        display: flex;
        flex-direction: row;
    }
    .headermenu  {
        transition: all 0.3s ease; /* Transición suave */
        border-radius: 50px;
        padding: 20px 50px;
        margin-top: 20px;
        width: 70%;
        margin: 0 auto;
        flex-direction: row;
        justify-content: space-between;

        
        
    }
    .headermenu.scrolled {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%; /* Ocupa el 100% del ancho de la pantalla */
        /* background-color: aliceblue; */
        background: linear-gradient(to top, aliceblue 0%, rgba(255, 255, 255, 0.8) 100%);
        color: black;
        z-index: 1000;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra opcional para resaltar el menú */
        padding: 20px 50px; /* Puedes reducir el padding cuando se hace fixed */
        width: 40%;
        margin: 50px auto;
        flex-direction: row;
        justify-content: space-between;
    }


    
    
}


@media (min-width: 1024px) and (max-width: 1950px) {
    .headermenu  {
        transition: all 0.3s ease; /* Transición suave */
        border-radius: 50px;
        padding: 20px 50px;
        margin-top: 20px;
        width: 70%;
        margin: 0 auto;
        flex-direction: row;
        justify-content: space-between;
        
    }
    .headermenu.scrolled {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%; /* Ocupa el 100% del ancho de la pantalla */
        /* background-color: aliceblue; */
        background: linear-gradient(to top, aliceblue 0%, rgba(255, 255, 255, 0.8) 100%);
        color: black;
        z-index: 1000;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra opcional para resaltar el menú */
        padding: 20px 50px; /* Puedes reducir el padding cuando se hace fixed */
        width: 50%;
        margin: 50px auto;
        flex-direction: row;
        justify-content: space-between;
    }
}


/* M E D I A  Q U E R Y S  M O B I L E S */
@media only screen and (max-width: 768px) {
    .especialmobileimagen {
        display: flex;
        flex-direction: column !important;
    }

    #dos {
        border-radius: 50px 50px 0 0; 
            font-size: 22px;
            line-height: 31px;
            padding: 22px;
    }

    #cinco {
        visibility: hidden;
    }
    #dosinverse {
        border-radius: 50px 50px 0 0;
        font-size: 22px;
        line-height: 31px;
    }
    #cincoinverse, #seisinverse {
        display: none;
    }
    div#primary-menu {
        color: #0e0f11;
        background-color: #d0ff71;
    }



}