.globo_grande {
    height: 380px;
    padding: 25px 0;
}

.textoglobogirado {
    transform: scaleX(-1);
    text-align: left;
}

.textoglobogirado {
    transform: scaleX(-1);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 15px;
}

.globogirado {
    transform: scaleX(-1);
}

.containeritems {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    max-width: 1440px;
}

.responsive-textglobo {
    font-size: 36px;
    line-height: 36px;
}

.item1 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-right: 0;
}

.item2 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 0;
}

.item1,
.item2 {
    margin: 10px 10px;
}


.speech-bubbledefaultbig {
    width: auto;
    max-width: 100%;
    background: #C8FF66;
    border-radius: 40px;
    padding: 50px;
    text-align: left;
    transition: transform 0.7s ease-in-out;
    clip-path: path("M0,64Q0,0 64,0L736,0Q800,0 800,64L800,256Q800,320 736,320H416Q352,320 320,288Q288,256 256,256H64Q0,256 0,192Z");
    max-height: 100%;
    overflow: hidden;
    height: 320px;
    box-sizing: border-box;
}

.girado {
    transform: scaleX(-1);
}



.boxmobilecircle {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.boxmobilecircle.visible {
    opacity: 1;
    transform: translateX(0);
}

.boxmobilecircleizq {
    opacity: 1;
    transform: translateX(100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.boxmobilecircleizq.visible {
    opacity: 1;
    transform: translateX(0);
}

.globo.boxmobilecircleizq.section-36:last-of-type {
    position: relative;
    margin-bottom: 100px;
}

.container.logros.boxmobilecircle.visible {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 25px;
}

.container.logrosgirado.boxmobilecircleizq.visible {
    display: flex;
    padding-left: 25px;
    justify-content: flex-start;
}




/* m o b i l e  l a n d s c a p e */
@media screen and (min-width: 750px) and (max-width: 950px) {

    .globo_grande {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        max-width: 100%;
        /* Asegúrate de que el contenedor no se expanda más de lo necesario */
        box-sizing: border-box;
        /* Para que el padding no haga que el ancho se expanda más de lo esperado */
    }

    .responsive-textglobo {
        font-size: 20px;
        line-height: 24px;
    }

    .globo_grande {
        height: 370px;
        padding: 0;
        margin: 25px;
    }

}

/*3/3*/
/* M E D I A  Q U E R Y S  M O B I L E S */
@media only screen and (max-width: 768px) {

    .globo_grande {
        height: 700px;
    }

    .speech-bubbledefaultbig {
        padding: 30px;
    }

    .item1,
    .item2 {
        justify-content: center;
    }

    .responsive-textglobo {
        font-size: 16px;
        line-height: 26px;
    }

}