    .after\:w-full:after {
        content: var(--tw-content);
        width: 7%;
    }

    .simpletext-content,
    .simpletext-noporfolio {
        padding: 100px 0;
    }


// _mixins.scss
    //1/3
    @include desktop-xl  {
        .especialdesktop {
            display: flex;
            flex-direction: row;
        }
    }


    //3/3
    @include mobile {
        .simpletext-content {
            padding: 50px 0;
        }
    }
